body {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
    display: flex;
    background-image: url(../images/telas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    align-items: center;
    flex-direction: column;
}

.container{
    padding: 240px 0px 0px 0px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.5s;
    font-family: Showcard Gothic;
}

.title{
    line-height: 23px;
    text-align: center;
}

.sim, .nao{
    text-decoration: none;
    display: inline-block;
    font-family: Showcard Gothic;
    font-size: 1rem;
    color: #666666;
    text-align: center;
    align-items: center;
    width: 200px;
    background-color: #fefefe;
    padding: 15px 5px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #211;
}

.sim input, .nao input {
    background-color: #fefefe;
    font-family: Showcard Gothic;
    border: none !important;
    width: 50px;
    height: 15px;
    text-align: center;
    text-justify: distribute;
}

.sim a, .nao a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 10px;
    text-align: justify;
}

@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        }

